<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<appSettings>
	</appSettings>
	<log4net>
    <appender name="All" type="log4net.Appender.RollingFileAppender">
			<file value="logs/all-log-debug.txt" />
			<appendToFile value="false" />
			<maxSizeRollBackups value="2" />
			<maximumFileSize value="1048576" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
    <appender name="WorkflowRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/workflow-log-debug.txt" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1048576" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>    
		<appender name="ApplicationGlobalAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs/app-global-debug.txt" />
			<appendToFile value="false" />
			<maxSizeRollBackups value="2" />
			<maximumFileSize value="1048576" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]&#13;&#10;" />
				<footer value="[Footer]&#13;&#10;" />
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
    <appender name="EMailRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/SendEMail-log-debug.txt" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1048576" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="AssemblyResolverRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/AssemblyResolver-log-debug.txt" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1048576" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="NHibernateRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/NHibernate-log-debug.txt" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1048576" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="ALL" />
			<appender-ref ref="All" />
    </root>
		<logger name="System.Web.HttpApplication" >
			<level value="ALL" />
			<appender-ref ref="ApplicationGlobalAppender" />
		</logger>
    <!-- worklfow loggers -->
    <logger name="Framework.Workflow" >
      <level value="ALL" />
      <appender-ref ref="WorkflowRollingLogFileAppender" />
    </logger>    
    <logger name="Framework.Business.Workflows" >
      <level value="ALL" />
      <appender-ref ref="WorkflowRollingLogFileAppender" />
    </logger>
    <logger name="Framework.System.Workflow" >
      <level value="ALL" />
      <appender-ref ref="WorkflowRollingLogFileAppender" />
    </logger>
    <!-- mail -->
    <logger name="Framework.Common.Mail" >
      <level value="ALL" />
      <appender-ref ref="EMailRollingLogFileAppender" />
    </logger>
    <logger name="Framework.Business.Workflows.Activities.EMail" >
      <level value="ALL" />
      <appender-ref ref="EMailRollingLogFileAppender" />
    </logger>
    <!-- assembly resilver -->
    <logger name="Framework.Common.ComponentModel.AssemblyResolver" >
      <level value="ALL" />
      <appender-ref ref="AssemblyResolverRollingLogFileAppender" />
    </logger>
    <!-- NHibernate -->
    <logger name="Framework.NHibernate" >
      <level value="ALL" />
      <appender-ref ref="NHibernateRollingLogFileAppender" />
    </logger>

  </log4net>
</configuration>